.leftMenu{
    /*background-position: 0 -300px;*/
    display: inline-block;
    min-height: calc(100vh - 0px);
    min-width: 50px;
    padding: 0px 0;
    position: fixed;
    text-transform: uppercase;
    z-index: 99;
    background-color: #ededed;
    margin-top: 50px;
}

.auctionleftMenu{
    /*background-position: 0 -300px;*/
    display: inline-block;
    min-height: calc(100vh - 0px);
    min-width: 50px;
    position: fixed;
    text-transform: uppercase;
    z-index: 99;
    background-color: #e4e3e3;
    padding-left: 15px;
    margin-left: 50px;
    padding-top: 35px;
    padding-right: 10px;
    margin-top: 50px;
}

.auctionleftMenu ul li{
    background-color: #e4e3e3;
}

.auctionleftMenu li{
    border-bottom:1px solid #767676;
}

.main-nav {
    list-style: none;
    padding: 0;
    position: relative;
    text-align: center;
}
.auction-main{
    /*margin-top: 50px;*/
    margin-left: 70px;
    padding-top: 20px;
}

.menu-container ul li{
    width: 45px;
    height: 55px;
}

.menu-container ul li a{
    margin-top: 20px;
}

.auction-top{
    padding-top: 20px;
    padding-right: 0px;
}

.auction-top button{
    margin-top: 25px;
}

.auction-top-logo {
    padding-top: 5px;
}

.auction-box{
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.auction-box img{
    width: 140px;
    height: 100px;
}

.auction-box li{
    margin-bottom: 5px;
}

.auction-action-btn{
    width: 100%;
}

.tablecrude{
    font-weight:bold;
}

.form-span{
    padding-top:7px;
    margin-bottom:0;
}

/* 分页css*/
.pagejump{
    margin-left: 10px;
}
.pagejumptext{
    height: 34px;
    width: 50px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    text-align: center;
}
