<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

  <!--<import resource="classpath:com/cisco/ccl/b2b/comments/core-context.xml" />-->

  <context:component-scan base-package="com.meebid.front.dao" />
  <context:component-scan base-package="com.meebid.front.service" />
  <context:component-scan base-package="com.meebid.front.bean" />

  <bean id="redisSentinelConfiguration"
        class="org.springframework.data.redis.connection.RedisSentinelConfiguration">
    <property name="master">
      <bean class="org.springframework.data.redis.connection.RedisNode">
        <property name="name" value="mymaster"></property>
      </bean>
    </property>
  </bean>

  <bean id="jedisConnFactory"
        class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
    <property name="hostName" value="127.0.0.1"/>
    <property name="port" value="6379"/>
    <property name="usePool" value="false"/>
    <!--<constructor-arg ref="redisSentinelConfiguration"/>-->
  </bean>

  <bean id="stringRedisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate">
    <property name="connectionFactory" ref="jedisConnFactory" />
  </bean>

  <!-- SpringMVC上传文件时，需要配置MultipartResolver处理器 -->
  <bean id="multipartResolver"
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    <property name="defaultEncoding" value="UTF-8" />
    <!-- 指定所上传文件的总大小不能超过200KB。注意maxUploadSize属性的限制不是针对单个文件，而是所有文件的容量之和 -->
    <property name="maxUploadSize" value="20000000" />

  </bean>
</beans>
